body {
  font-family: 'Open Sans';
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

main {
  width: 626px;
  padding-top: 64px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Dosis';
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;

  margin-top: 32px;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 22px;
  color: #828282;
}

p strong {
  color: #3F3D56;
}

#line {
  width: 391px;
  margin: 64px auto 16px;
  border: 1px solid #ECEFF2;
}

#linhas {
  display: flex;
  justify-content: center;

  padding-bottom: 40px;
}

#linhas p + p {
  margin-left: 42px;
}

#Wave {
  display: flex;
  width: -webkit-fill-available;
}